* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  flex-direction: column;
  font-family: 'Aptos Display', sans-serif;
  font-size: var(--font-size-base);
  justify-content: center;
  line-height: var(--line-height-normal);
  min-height: 100vh;
}

hgroup {
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

em {
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  margin-bottom: .5rem;
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-normal);
}

.css-grid-container {
  display: grid;
  gap: var(--padding);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--padding);

  & .inner-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & a.button,
    & button,
    & .social-links {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}

/* Add styles for semantic elements */
header, main, aside, footer {
  display: contents;
}

main {
  display: contents;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--color-dark-brown);
  border-radius: var(--outer-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: var(--padding);
}

.inner-grid-item {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid var(--color-dark-brown);
  border-radius: var(--inner-radius);
  min-height: 285px;
  padding: calc(var(--padding) * 1.618);
  width: 100%;

  & button,
  & a.button {
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid black;
    color: inherit;
    cursor: pointer;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    padding: var(--padding-button);
    transition: background-color 0.3s ease;
    text-decoration: none;

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-light);
      border-color: var(--color-dark);
    }
  }
}

.about {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  position: relative;
  
  & p {
    margin-right: 160px;
  }

  & img {
    position: absolute;
    bottom: var(--padding);
    right: calc(var(--padding) + 16px);
    width: 220px;
  }
}

.project-1 {
  grid-row: span 4 / span 4;
  grid-column-start: 3;
}

.project-2 {
  grid-row: span 4 / span 4;
  grid-column-start: 4;
}

.some-fun-stuff {
  grid-row: span 4 / span 4;
  grid-row-start: 4;
}

.learnings {
  grid-row: span 4 / span 4;
  grid-row-start: 4;
}

.socials {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 5;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: auto;

  & li {
    display: inline-block;

    & a {
      background: no-repeat center;
      background-size: contain;
      display: block;
      height: var(--icon-size);
      width: var(--icon-size);
      text-indent: -9999px;

      &:hover {
        opacity: 0.44;
      }
    }
  }

  & .social-link--linkedin a {
    background-image: var(--icon-linkedin);
  }

  & .social-link--instagram a {
    background-image: var(--icon-instagram);
  }

  & .social-link--x a {
    background-image: var(--icon-x);
  }
}

footer {
  color: rgba(0, 0, 0, 0.67);
  padding-left: var(--padding);
}

/* Tablet Responsive Grid */
@media (max-width: 1024px) {
  body {
    margin: 0 auto;
    max-width: 840px;
  }

  /* For tablet, change the grid to 2 x 3, with all the grid-items having the same height */
  .css-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .grid-item {
    grid-column: span 1 / span 1; 
    grid-row: span 1 / span 1;
  }

  .about {
    p {
      margin-right: 0px;
      padding-bottom: 80px;
    }
    img {
      max-width: 150px;
    }
  }
}

/* Phone Responsive Grid */
@media (max-width: 667px) {
  .css-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .inner-grid-item {
    min-height: auto;
    height: auto;
    grid-column: 1;
    grid-row: auto;
  }
  hgroup + p {
    margin-bottom: 1.5rem;
  }

  .no-button {
    margin-bottom: 0;
  }

  .about {
    p {
      margin-right: 0;
      padding-bottom: 70px;
    }
    & img {
      display: block;
      left: 50%;
      left: 50%;
      max-width: 140px;
      right: 0;
      transform: translateX(-50%);
    }
  }

  .project-1,
  .project-2,
  .some-fun-stuff,
  .learnings,
  .socials {
    grid-column: 1;
    grid-row: auto;
  }
}